<section *ngIf="PersonalFormTwo && !PersonalFormThree" class="pan_details_form"
  aria-label="Nominee Opt Out Confirmation">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 m-auto">
        <div class="mobile_css">
          <div class="back_cls">
            <div (click)="redirectPlanProcess()" (keydown.enter)="redirectPlanProcess()" (keydown.space)="redirectPlanProcess()" role="button" tabindex="0">
              <img src="assets/images/diy/ChevronLeft.png" alt="" aria-hidden="true" /> Back
            </div>

            <div class="back_cls2"></div>

            <!-- <div class="d-flex flex-column align-items-start gap-2">
              <h5>Let's take a selfie</h5>
              <p class="sub_title">Take a clear picture and upload it.</p>
            </div> -->
            <div class="mobile_header_padding">
              <div class="help_faq_css">
                <div class="d-flex gap-2">
                  <div class="d-flex flex-column gap-2">
                    <h5>Nominee Opt Out Confirmation</h5>
                  </div>
                </div>

              </div>
              <p class="sub_title">Record a clear video with your face fully visible, make sure the audio is clear while
                reading the content shown on the screen.</p>
            </div>
          </div>
        </div>

        <form aria-label="Nominee Opt Out Form" method="post">
          <div class="">
            <div class="col-lg-12 col-md-12 col-12 desktop_css">
              <div class="mobile_header_padding">
                <div class="help_faq_css">
                  <div class="d-flex gap-2">
                    <div *ngIf="this.RejectStatus != 'R'" (click)="redirectPlanProcess()" (keydown.enter)="redirectPlanProcess()" (keydown.space)="redirectPlanProcess()" role="button" tabindex="0">
                      <span>
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_0_10804)">
                            <path d="M5 12.5H19" stroke="black" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M5 12.5L11 18.5" stroke="black" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M5 12.5L11 6.5" stroke="black" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                          </g>
                          <defs>
                            <clipPath id="clip0_0_10804">
                              <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                    </div>
                    <div class="heading">
                      <h5>Nominee Opt Out Confirmation</h5>
                      <p class="sub_title">
                        Record a clear video with your face fully visible, make sure the audio is clear while reading
                        the content shown on the screen.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <hr class="desktop_css" />
            <div class="selfie_new">
              <div class="left_section">
                <img src="assets/images/diy/selfie_guy.png" alt="Selfie Guy Icon" aria-hidden="true" />
              </div>
              <div class="right_section">
                <div class="do_section">
                  <h6>Do's</h6>
                  <div class="points">
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
                      <div class="img_cls">
                        <img src="assets/images/diy/good_lightening_icon.png" alt="Lightening Icon" aria-hidden="true" />
                      </div>
                      <span>Good lighting</span>
                    </div>
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
                      <div class="img_cls">
                        <img src="assets/images/diy/white_bg_icon.png" alt="White Background Icon" aria-hidden="true" />
                      </div>
                      <span>White <br />
                        background</span>
                    </div>
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
                      <div class="img_cls">
                        <img src="assets/images/diy/mic.png" alt="MIC Icon" aria-hidden="true" />
                      </div>
                      <span>Clear audio</span>
                    </div>
                  </div>
                </div>
                <div class="dont_section">
                  <h6>Dont's</h6>
                  <div class="points">
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
                      <div class="img_cls">
                        <img src="assets/images/diy/no_blurry_pic.png" alt="No Blurry Icon" aria-hidden="true" />
                      </div>
                      <span>No blurry photo</span>
                    </div>
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
                      <div class="img_cls">
                        <img src="assets/images/diy/no_cap_icon.png" alt="No Cap Icon" aria-hidden="true" />
                      </div>
                      <span>No cap</span>
                    </div>
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
                      <div class="img_cls">
                        <img src="assets/images/diy/no_eyewear_icon.png" alt="No eyewear Icon" aria-hidden="true" />
                      </div>
                      <span>No eyewear</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="mobile_box">
              <p>
                No webcam? No problem,
                <a (click)="continueWithMobile()">&nbsp;Continue with mobile</a>&nbsp;&nbsp;<i class="fa fa-arrow-right"
                  aria-hidden="true"></i>
              </p>
            </div>
            <div class="stickybtn_desk desktop_css">
              <button [attr.aria-disabled]="isAccess" [disabled]="isAccess" (click)="getNomineeIdfyURL()" class="btn btn_cls">
                Capture Now
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="stickybtn mobile_css">
        <button [attr.aria-disabled]="isAccess" [disabled]="isAccess" (click)="getNomineeIdfyURL()" class="btn btn_cls">
          Capture Now
        </button>
      </div>
    </div>
  </div>
</section>

<section aria-label="Selfie for Nominee Opt Out" *ngIf="PersonalFormThree && !PersonalFormTwo" class="pan_details_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 m-auto">
        <div class="mobile_css">
          <div class="back_cls" (click)="BackToOne()" (keydown.enter)="BackToOne()" (keydown.space)="BackToOne()" role="button" tabindex="0">
            <div>
              <img src="assets/images/diy/ChevronLeft.png" alt="" aria-hidden="true" /> Back
            </div>
            <div class="d-flex flex-column align-items-start gap-2">
              <h5>Get set for a quick selfie</h5>
              <p class="sub_title">
                Take a clear picture and upload it. Please ensure your selfie
                matches the photo on your Aadhar or Pan card
              </p>
            </div>
          </div>
        </div>

        <form aria-label="Selfie Capture Form" method="post">
          <div class="">
            <div class="col-lg-12 col-md-12 col-12 desktop_css">
              <div class="d-flex align-items-start gap-2">
                <div (click)="BackToOne()" (keydown.enter)="BackToOne()" (keydown.space)="BackToOne()" role="button" tabindex="0">
                  <span><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span>
                </div>
                <div class="d-flex flex-column align-items-start gap-2">
                  <h5>Get set for a quick selfie</h5>
                  <p class="sub_title">
                    Take a clear picture and upload it. Please ensure your
                    selfie matches the photo on your Aadhar or Pan card
                  </p>
                </div>
              </div>
            </div>
            <hr class="desktop_css" />
          </div>
          <div class="selfie_camera">
            <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
              [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
              [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)"></webcam>

            <div id="previewContainer" [ngClass]="{
                success_selfie: imageDataUrl,
                preview_selfie: !selfieImage
              }" style="display: none">
              <img id="previewImage" src="" alt="Preview Image" />
            </div>
          </div>
          <div class="img_btn mobile_css">
            <button [disabled]="isPreviewing" [attr.aria-disabled]="isPreviewing" (click)="triggerSnapshot()">
              <i class="fa fa-camera" aria-hidden="true"></i>
            </button>
          </div>
          <div *ngIf="!imageDataUrl" class="capture_now_btn text-center desktop_css">
            <button [disabled]="isPreviewing" [attr.aria-disabled]="isPreviewing" (click)="triggerSnapshot()">
              Capture Now
            </button>
          </div>
          <span *ngIf="cameraPermission" class="red_warning mt-3 text-center">*Please go to settings of your browser or
            device and provide access
            to camera to continue</span>
          <div *ngIf="imageDataUrl" class="group_btn stickybtn_desk desktop_css">
            <button (click)="captureAgain()" class="btn btn_cls_outline p-0">
              Re - Capture
            </button>
            <button [attr.aria-disabled]="!imageDataUrl" [disabled]="!imageDataUrl" (click)="uploadSelfieApiCall()" class="btn btn_cls">
              Proceed
            </button>
          </div>
        </form>
      </div>

      <div class="group_btn stickybtn mobile_css">
        <button (click)="captureAgain()" class="btn btn_cls_outline p-0">
          Re - Capture
        </button>
        <button [attr.aria-disabled]="!imageDataUrl" [disabled]="!imageDataUrl" (click)="uploadSelfieApiCall()" class="btn btn_cls">
          Proceed
        </button>
      </div>
    </div>
  </div>

  <!-- Selfie Image Preview -->
  <div class="modal fade uploadPan" id="uploadSelfie" tabindex="-1" aria-labelledby="uploadBankStateUploadLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header d-block">
          <h2 class="modal-title fs-5" id="uploadBankStateUploadLabel"></h2>
          <button type="button" class="btn-horizontal-line" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>{{ "Selfie " }}</h5>
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
            [canvasRotation]="canvasRotation" [(transform)]="transform" [aspectRatio]="4 / 3" format="png"
            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"></image-cropper>
          <br />
          <!-- <div *ngIf="croppedImage" class="text-center">
        <label class="reupload_css" (click)="rotateRight()">Rotate</label>
      </div> -->
        </div>

        <div class="modal-footer">
          <div class="btn_align">
            <label class="btn btn_cls_outline">
              Re-Upload Image
              <input type="file" accept="image/*" (change)="fileChangeEvent($event)" style="display: none" aria-label="Upload a document file" />
            </label>
            <button type="button" class="btn btn_cls" data-bs-target="#uploadBankStateBg" data-bs-toggle="modal">
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Continue With Mobile Modal -->
<!-- <div
  id="continueLink"
  tabindex="-1"
  aria-labelledby="continueLinkLabel"
  aria-hidden="true"
  class="modal fade contdModal"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div
        class="modal-header d-block"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="removeModal()"
      >
        <h2 class="modal-title fs-5" id="continueLinkLabel"></h2>
        <button
          #mobilecloseModal
          type="button"
          class="btn-horizontal-line"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="removeModal()"
        ></button>
      </div>
      <div class="modal-body py-2 contd_body">
        <p>
          Kindly follow the link in the SMS sent to your registered mobile number.
          <a href="{{ this.continueLink }}" target="_blank">{{ this.continueLink }}</a>
        </p>
      </div>
    </div>
  </div>
</div> -->