<section aria-label="Upload Aadhaar Front Image" class="pan_details_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 m-auto">
        <div class="mobile_css">
          <div class="back_cls">
            <div *ngIf="this.RejectStatus != 'R'" (click)="redirectSignature()">
              <img src="assets/images/diy/ChevronLeft.png" alt="" aria-hidden="true" /> Back
            </div>
            <div *ngIf="this.RejectStatus === 'R'" class="back_cls2"></div>

            <div class="d-flex flex-column align-items-start gap-2">
              <h5>Upload your Aadhaar Card (Front Image)</h5>
              <p class="sub_title">
                Upload a clear front image of your Aadhaar Card.
              </p>
            </div>
          </div>
        </div>

        <form aria-label="Upload Aadhaar Front Form" method="post">
          <div class="">
            <div class="col-lg-12 col-md-12 col-12 desktop_css">
              <div class="d-flex align-items-start gap-2">
                <div *ngIf="this.RejectStatus != 'R'" (click)="redirectSignature()">
                  <span> <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_0_10804)">
                        <path d="M5 12.5H19" stroke="black" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M5 12.5L11 18.5" stroke="black" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M5 12.5L11 6.5" stroke="black" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </g>
                      <defs>
                        <clipPath id="clip0_0_10804">
                          <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                        </clipPath>
                      </defs>
                    </svg></span>
                </div>
                <div *ngIf="this.RejectStatus === 'R'" class="back_cls2"></div>
                <div class="d-flex flex-column align-items-start gap-2">
                  <h5>Upload your Aadhaar Card (Front Image)</h5>
                  <p class="sub_title">
                    Upload a clear front image of your Aadhaar Card.
                  </p>
                </div>
              </div>
            </div>
            <hr class="desktop_css" />
            <div class="facial_align">
              <div *ngIf="!panUrl" class="col-lg-6 col-md-6 col-12">
                <img class="w-100" src="assets/images/diy/pan-banner.png" alt="" aria-hidden="true" />
              </div>
              <div *ngIf="panUrl" class="col-lg-6 col-md-6 col-12">
                <img class="w-100" src="{{ panUrl }}" alt="" aria-hidden="true" />
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <h5>Upload Instructions :</h5>
                <div class="d-flex justify-content-start align-items-center py-3 gap-3">
                  <img src="assets/images/diy/camera-icon.png" alt="Camera" />
                  <p>Ensure the image is not blur</p>
                </div>
                <div class="d-flex justify-content-start align-items-center py-3 gap-3">
                  <img src="assets/images/diy/notepad-icon.png" alt="Document check" />
                  <p>Front and back image is of same Aadhaar</p>
                </div>
                <div class="d-flex justify-content-start align-items-center my-3 gap-3">
                  <img src="assets/images/diy/pan-icon.png" alt="PAN card check" />
                  <p>Uploaded Aadhaar belongs to you</p>
                </div>
              </div>
            </div>
          </div>
          <div class="desktop_css">
            <div class="stickybtn_desk">
              <div *ngIf="!panUrl" class="">
                <button class="btn btn_cls" data-bs-target="#uploadPan" data-bs-toggle="modal">
                  Upload Aadhaar Card
                </button>
              </div>
              <button *ngIf="panUrl" class="btn_cls_outline" data-bs-target="#uploadPan" data-bs-toggle="modal">
                Re-Upload Aadhaar Card
              </button>
              <button *ngIf="panUrl" (click)="checkPanNameChange()" class="btn btn_cls">
                Proceed
              </button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="!panUrl" class="mobile_css">
        <div class="stickybtn">
          <button class="btn btn_cls" data-bs-target="#uploadPan" data-bs-toggle="modal">
            Upload Aadhaar Card
          </button>
        </div>
      </div>
      <div *ngIf="panUrl" class="mobile_css">
        <div class="btn_align stickybtn">
          <button class="btn_cls_outline" data-bs-target="#uploadPan" data-bs-toggle="modal">
            Re-Upload Aadhaar Card
          </button>
          <button (click)="checkPanNameChange()" class="btn btn_cls">
            Proceed
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Upload Aadhaar Modal -->
<div class="modal fade uploadPan" id="uploadPan" tabindex="-1" aria-labelledby="uploadPanLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block" data-bs-dismiss="modal" aria-label="Close" (click)="removeModal()">
        <h1 class="modal-title fs-5" id="uploadPanLabel"></h1>
        <button type="button" class="btn-horizontal-line" data-bs-dismiss="modal" aria-label="Close"
          (click)="removeModal()"></button>
      </div>
      <div class="modal-body">
        <h5>Upload Aadhaar Card</h5>
        <div class="img_upload">
          <div class="camera_icon" style="position: relative; display: inline-block">
            <img src="assets/images/diy/camera_img.png" alt="Upload Image" style="cursor: pointer" />
            <input style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                " type="file" capture="environment" accept="image/*" (change)="fileChangeEvent($event)"
              (click)="setCaptureEvent('environment')" (click)="resetExistingImage()" data-bs-target="#uploadPanUpload"
              data-bs-toggle="modal" />
          </div>
          <div style="position: relative; display: inline-block">
            <img src="assets/images/diy/upload_img.png" alt="Upload Image" style="cursor: pointer" />
            <input style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                " type="file" accept="image/*" (click)="resetExistingImage()" (click)="setCaptureEvent('upload')"
              (change)="fileChangeEvent($event)" data-bs-target="#uploadPanUpload" data-bs-toggle="modal" />
          </div>
        </div>
        <div class="file_type_css">
          <span>Files supported: JPG, PNG</span>
          <span>Maximum size less than 4MB</span>
        </div>
      </div>
      <div class="modal-footer p-0 d-none">
        <button type="button" data-bs-target="#uploadPanUpload" data-bs-toggle="modal" class="btn btn_cls">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Aadhaar Upload Modal -->
<div class="modal fade uploadPan" id="uploadPanUpload" tabindex="-1" aria-labelledby="uploadPanUploadLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block" data-bs-dismiss="modal" aria-label="Close" (click)="removeModal()">
        <h1 class="modal-title fs-5" id="uploadPanUploadLabel"></h1>
        <button type="button" class="btn-horizontal-line" data-bs-dismiss="modal" aria-label="Close"
          (click)="removeModal()"></button>
      </div>
      <div class="modal-body">
        <h5>Upload Aadhaar Card</h5>

        <div *ngIf="imageChangedEvent" class="file_upload_css">
          <image-cropper class="image_css" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
            [(transform)]="transform" [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"></image-cropper>
        </div>
        <div *ngIf="imageChangedEvent" class="text-center">
          <label class="reupload_css" (click)="rotateRight()">Rotate</label>
        </div>
        <div class="file_type_css my-2">
          <span class="red_warning">{{ errorMsg }}</span>
        </div>

        <div class="modal-footer p-0">
          <div class="btn_align">
            <label *ngIf="!imageChangedEvent" class="btn btn_cls_outline">
              Upload Image
              <input type="file" accept="image/*" (change)="fileChangeEvent($event)" style="display: none" />
              <!--  -->
            </label>
            <label *ngIf="imageChangedEvent && capture_event !== 'user'" (change)="fileChangeEvent($event)"
              class="btn btn_cls_outline p-0">
              Re-Upload Image
              <input type="file" accept="image/*" (change)="fileChangeEvent($event)" style="display: none" />
            </label>
            <label *ngIf="imageChangedEvent && capture_event == 'user'" class="btn btn_cls_outline p-0">
              Re-Upload Image
              <input type="file" capture="environment" accept="image/*" (change)="fileChangeEvent($event)"
                style="display: none" />
              <!--  -->
            </label>
            <button [attr.aria-disabled]="!imageChangedEvent" [disabled]="!imageChangedEvent" type="button" class="btn btn_cls" data-bs-target="#uploadPanBg"
              data-bs-toggle="modal">
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Upload Signature File Modal -->
<div class="modal fade uploadPan" id="uploadPanBg" tabindex="-1" aria-labelledby="uploadPanBgLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block" data-bs-dismiss="modal" aria-label="Close" (click)="removeModal()">
        <h1 class="modal-title fs-5" id="uploadPanBgLabel"></h1>
        <button type="button" class="btn-horizontal-line" data-bs-dismiss="modal" aria-label="Close"
          (click)="removeModal()"></button>
      </div>
      <div class="modal-body">
        <h5>Upload Aadhaar Card</h5>
        <div class="file_upload_css">
          <div class="img_preview my-3">
            <img *ngIf="croppedImage" [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'"
              alt="Cropped Image Preview" class="img-fluid" />
          </div>
          <div class="file_type_css">
            <span>Files supported: JPG OR PNG</span>
            <span>Maximum size less than 4MB</span>
          </div>
        </div>
        <div class="modal-footer p-0">
          <div class="btn_align">
            <button (click)="changePanImage()" data-bs-target="#uploadPan" data-bs-toggle="modal"
              class="btn btn_cls_outline p-0">
              Change Image
            </button>
            <button (click)="uploadPanUploadImg()" class="btn btn_cls" id="confirmedPan">
              Yes, Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>