<section aria-label="PAN Card Details Entry" class="pan_details_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 m-auto">
        <!-- <div (click)="redirect()" class="back_cls" (keydown.enter)="redirect()" (keydown.space)="redirect()" role="button" tabindex="0">
          <img src="assets/images/diy/ChevronLeft.png" alt="" />
        </div> -->
        <div class="mobile_css">
          <div class="header_padding">
            <div class="help_faq_css">
              <div>
                <h5>Enter PAN Card Details</h5>
              </div>
              <div>
                <button type="button" class="help_btn" (click)="faqHelpBtn('Pan')" aria-label="Need Help with PAN entry — open help">
                  Need Help?
                </button>
              </div>
            </div>
            <p class="sub_title">Enter details exactly as per your PAN</p>
          </div>
        </div>

        <form aria-label="PAN Card Details Form" method="post" class="">
          <div class="div">
            <div class="col-lg-12 col-md-12 col-12 desktop_css">
              <div class="header_padding">
                <div class="help_faq_css">
                  <div>
                    <h5>Enter PAN Card Details</h5>
                  </div>
                  <div>
                    <button type="button" class="help_btn" (click)="faqHelpBtn('Pan')" aria-label="Need Help with PAN entry — open help">
                      Need Help?
                    </button>
                  </div>
                </div>
                <p class="sub_title">Enter details exactly as per your PAN</p>
              </div>
            </div>
            <hr class="desktop_css" />
            <div class="col-lg-12 col-md-12 col-12">
              <div class="desktop_align_cls">
                <div>
                  <label for="EnterPanNo" class="form-label">PAN No.</label>
                </div>
                <div class="d-flex flex-column gap-2">
                  <div class="pan_field">
                    <input
                      aria-label="PAN Number"
                      type="text"
                      class="form-control"
                      id="EnterPanNo"
                      name="pannumber"
                      placeholder="e.g AAAAA1234A"
                      (input)="onInput($event)"
                      (focusout)="onInput($event, true)"
                      [attr.inputmode]="getInputMode()"
                      maxlength="10"
                      [(ngModel)]="panDetailsManual.pannumber"
                      onpaste="return false;"
                      onselectstart="return false;"
                      onkeypress="return /[A-Za-z0-9]/i.test(event.key)"
                      (change)="validateForm()"
                      appEmojiBlocker
                      aria-required="true"
                    />
                    <span *ngIf="panValidation" class="red_warning"
                      >*Please enter a valid PAN</span
                    >
                    <span *ngIf="fourthCharValidation" class="red_warning"
                      >We accept Personal PanCard Numbers Only</span
                    >
                    <span *ngIf="specialCharValidation" class="red_warning"
                      >Special Characters are not allow</span
                    >
                  </div>
                  <div class="accordion_cls">
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h3 class="accordion-header" id="headingOne">
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne"
                          >
                            Sample PAN
                          </button>
                        </h3>
                        <div
                          id="collapseOne"
                          class="accordion-collapse collapse"
                          aria-labelledby="headingOne"
                          data-bs-parent="#accordionExample"
                        >
                          <div class="accordion-body">
                            <div class="splide">
                              <div class="splide__track">
                                <ul class="splide__list">
                                  <li
                                    *ngFor="let slide of banners_list"
                                    class="splide__slide"
                                  >
                                    <img
                                      [src]="slide.bgImage"
                                      alt="Sample PAN card"
                                      class="img-fluid"
                                    />
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <div class="desktop_align">
                <div>
                  <label for="EnterDOB" class="form-label">Date of Birth</label>
                </div>
                <div class="calendar_field">
                  <p-calendar
                    [touchUI]="true"
                    [(ngModel)]="panDetailsManual.dob"
                    (onInput)="handleDateInput($event)"
                    (keydown)="handleKeyDown($event)"
                    [showIcon]="true"
                    [iconDisplay]="'input'"
                    inputId="icondisplay"
                    [showOnFocus]="false"
                    dateFormat="dd/mm/yy"
                    placeholder="DD/MM/YYYY"
                    (ngModelChange)="checkPANDOBAge()"
                    (onSelect)="validateForm()"
                    [id]="dateOfBirthId"
                    [name]="dateOfBirthId"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                  ></p-calendar>
                  <span *ngIf="dateValidation" class="red_warning"
                    >Please enter Date</span
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <div class="desktop_align">
                <div>
                  <label for="EnterFullNameCard" class="form-label"
                    >Full Name</label
                  >
                </div>
                <div class="fullname_field">
                  <input
                    aria-label="Enter Full Name"
                    type="text"
                    class="form-control upper"
                    id="EnterFullNameCard"
                    name="fullname_as_pancard"
                    (input)="checkInput($event)"
                    placeholder="Enter full name"
                    [(ngModel)]="panDetailsManual.fullname_as_pancard"
                    (ngModelChange)="
                      updateDisplayedName(
                        panDetailsManual.fullname_as_pancard,
                        'change'
                      )
                    "
                    (focusout)="
                      updateDisplayedName(
                        panDetailsManual.fullname_as_pancard,
                        'fout'
                      )
                    "
                    onpaste="return false;"
                    onselectstart="return false;"
                    (keypress)="onKeyPress($event)"
                    onkeypress="return !/^\s$/.test(event.key) || event.target.value.length > 0 "
                    autocomplete="off"
                    appEmojiBlocker
                    aria-required="true"
                  />

                  <span *ngIf="panFullNameReqSpecial" class="red_warning"
                    >Special characters are not allowed</span
                  >
                  <span *ngIf="panFullNameReqDigit" class="red_warning"
                    >Digits are not allowed</span
                  >
                  <span *ngIf="panFullNameReqSpace" class="red_warning">
                    *Please enter your name as per your PAN</span
                  >
                </div>
              </div>
            </div>
            <div
              *ngIf="utm_source == 'Retailbroking'"
              class="col-lg-12 col-md-12 col-12"
            >
              <div class="mb-3 desktop_align">
                <div>
                  <label for="rmcodeRB" class="form-label"
                    >Are you assisted by RM</label
                  >
                </div>
                <div>
                  <input
                    aria-label="Enter RM Code"
                    type="text"
                    class="form-control upper"
                    id="rmcodeRB"
                    name="enter_rmcode"
                    placeholder="Enter RM Code"
                    [(ngModel)]="panDetailsManual.rmcode"
                    onselectstart="return false;"
                    (keypress)="onKeyPressRMCode($event)"
                    onkeypress="return !/^\s$/.test(event.key)"
                    (focusout)="rmcodecheck($event)"
                    autocomplete="off"
                    appEmojiBlocker
                    aria-required="true"
                  />

                  <span *ngIf="rmcodenull" class="red_warning">
                    *Please enter correct RM code</span
                  >
                </div>
              </div>
            </div>
            <div
              *ngIf="utm_source == 'Retailsales'"
              class="col-lg-12 col-md-12 col-12"
            >
              <div class="mb-3 desktop_align">
                <div>
                  <label for="rmcodeRS" class="form-label"
                    >Are you assisted by RM</label
                  >
                </div>
                <div class="fullname_field">
                  <input
                    aria-label="Enter RM Code"
                    type="text"
                    class="form-control upper"
                    id="rmcodeRS"
                    name="enter_rmcode"
                    placeholder="Enter RM Code"
                    [(ngModel)]="panDetailsManual.rmcode"
                    onselectstart="return false;"
                    (keypress)="onKeyPressRMCode($event)"
                    onkeypress="return !/^\s$/.test(event.key)"
                    (focusout)="rmcodecheck($event)"
                    autocomplete="off"
                    appEmojiBlocker
                    aria-required="true"
                  />
                </div>
              </div>
            </div>
            <div
              *ngIf="utm_source == 'ISMART_GI'"
              class="col-lg-12 col-md-12 col-12"
            >
              <div class="mb-3 desktop_align">
                <div>
                  <label for="rmcodePS" class="form-label"
                    >Are you assisted by RM</label
                  >
                </div>
                <div class="fullname_field">
                  <input
                    aria-label="Enter RM Code"
                    type="text"
                    class="form-control upper"
                    id="rmcodePS"
                    name="enter_rmcode"
                    placeholder="Enter RM Code"
                    [(ngModel)]="panDetailsManual.rmcode"
                    onselectstart="return false;"
                    (keypress)="onKeyPressRMCode($event)"
                    onkeypress="return !/^\s$/.test(event.key)"
                    (focusout)="rmcodecheck($event)"
                    autocomplete="off"
                    maxlength="15"
                    [pattern]="'^(?:[A-Za-z0-9]{1,15})?$'"
                    appEmojiBlocker
                    aria-required="true"
                    [disabled]="isGeneralIncRmDisabled"
                  />
                </div>
              </div>
            </div>
            <div
              *ngIf="utm_source == 'PAISALO'"
              class="col-lg-12 col-md-12 col-12"
            >
              <div class="mb-3 desktop_align">
                <div>
                  <label for="rmcodePS" class="form-label"
                    >Are you assisted by RM</label
                  >
                </div>
                <div class="fullname_field">
                  <input
                    aria-label="Enter RM Code"
                    type="text"
                    class="form-control upper"
                    id="rmcodePS"
                    name="enter_rmcode"
                    placeholder="Enter RM Code"
                    [(ngModel)]="panDetailsManual.rmcode"
                    onselectstart="return false;"
                    (keypress)="onKeyPressRMCode($event)"
                    onkeypress="return !/^\s$/.test(event.key)"
                    (focusout)="rmcodecheck($event)"
                    autocomplete="off"
                    maxlength="15"
                    [pattern]="'^(?:[A-Za-z0-9]{1,15})?$'"
                    appEmojiBlocker
                    aria-required="true"
                  />
                </div>
              </div>
            </div>
            <div class="pan_caption">
              <img src="assets/images/diy/Shield_img.png" alt="" aria-hidden="true" />
              <span>Your PAN details are safe and secure with us</span>
            </div>
            <!-- <div
              *ngIf="panDetailsManual.fullname_as_pancard"
              class="pan_confirmation"
            >
              <p>
                I Confirm that the PAN Number provided belongs to
                <span class="upper"
                  >{{ panDetailsManual.fullname_as_pancard }}.</span
                >
                Once confirmed, PAN details cannot be changed later
              </p>
            </div> -->
          </div>
          <div class="stickybtn_desk desktop_css">
            <span id="verifyPanHintDesk" class="visually-hidden">Fill PAN, Date of Birth and Full Name correctly to enable Verify PAN.</span>
            <button
              [attr.aria-disabled]="isVerifyPanBtn"
              [disabled]="isVerifyPanBtn"
              class="btn btn_cls"
              id="completePanVerify"
              (click)="completeVerifyPan()"
              aria-describedby="verifyPanHintDesk"
            >
              Verify PAN
            </button>
          </div>
        </form>
        <div class="stickybtn mobile_css">
          <span id="verifyPanHintMob" class="visually-hidden">Fill PAN, Date of Birth and Full Name correctly to enable Verify PAN.</span>
          <button
            [attr.aria-disabled]="isVerifyPanBtn"
            [disabled]="isVerifyPanBtn"
            class="btn btn_cls"
            id="completePanVerifyMob"
            (click)="completeVerifyPan()"
            aria-describedby="verifyPanHintMob"
          >
            Verify PAN
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Upload tPan Modal -->
<div
  class="modal fade uploadPan"
  id="completePan"
  tabindex="-1"
  aria-labelledby="completePanLabel"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div
        class="modal-header d-block"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="removeModal()"
      >
        <h2 class="modal-title fs-5 visually-hidden" id="completePanLabel">Verifying PAN details</h2>
        <button
          type="button"
          class="btn-horizontal-line"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="removeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="file_loading_css">
          <img src="assets/images/diy/loading.gif" alt="Loading" aria-hidden="true"/>
        </div>
        <h5>Verifying your PAN details</h5>
        <p class="text-center">This usually takes less than a minute.</p>
      </div>
    </div>
  </div>
</div>

<!-- Upload Pan Loading Manual Modal -->
<div
  class="modal fade uploadPan"
  id="completePanManual"
  tabindex="-1"
  aria-labelledby="completePanManualLabel"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h2 class="modal-title fs-5 visually-hidden" id="completePanManualLabel">Verifying PAN details</h2>
        <button
          type="button"
          class="btn-horizontal-line"
          id="successCloseLoad"
        ></button>
      </div>
      <div class="modal-body">
        <div class="file_loading_css">
          <img src="assets/images/diy/loading.gif" alt="Verifying" aria-hidden="true" />
        </div>
        <h5 class="text-center">Verifying your PAN details</h5>
        <p class="text-center">This usually takes less than a minute.</p>
      </div>
    </div>
  </div>
</div>

<!-- Upload Pan Manual Complete Modal -->
<div
  class="modal fade uploadPan"
  id="completePanVerifyDone"
  tabindex="-1"
  aria-labelledby="completePanVerifyDoneLabel"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <!-- data-bs-backdrop="static" data-bs-keyboard="false" -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block">
        <!-- (click)="removeModal()"
      data-bs-dismiss="modal"
      aria-label="Close" -->
        <h2 class="modal-title fs-5 visually-hidden" id="completePanVerifyDoneLabel">PAN verified successfully</h2>
        <button
          type="button"
          class="btn-horizontal-line"
          id="successClose"
        ></button>
        <!-- data-bs-dismiss="modal"
        aria-label="Close"
        (click)="dismissLoadingModal()" -->
      </div>
      <div class="modal-body">
        <div class="pan_modal_heading">
          <img src="assets/images/diy/Featured_tick.png" alt="Verified" aria-hidden="true" />
          <h5 class="mb-0">
            Your PAN details have been saved securely with us
          </h5>
        </div>
        <div class="verification_points">
          <!-- <p class="my-2">
            All you need to do next is 4 simple steps to provide e-KYC details:
          </p> -->
          <p>
            All you need to do next is 4 simple steps to provide e-KYC details:
          </p>
          <ul>
            <li>Enter your Aadhaar or VID.</li>
            <li>Enter OTP received in your Aadhaar linked mobile number.</li>
            <li>
              Enter 6 digit M-Pin or click on forget M-PIN to reset or create
              it.
            </li>
            <li>Give consent for Aadhaar Card & PAN verification record.</li>
            <!-- <li>
              <b
                >Please tick ✅ to give your consent to fetch your Aadhaar and PAN
                details digitally</b
              >
            </li> -->
          </ul>
          <p class="my-2">
            You need not to have a DigiLocker account to proceed with this step.
          </p>
        </div>
      </div>
      <div class="modal-footer p-0">
        <div class="btn_align">
          <button (click)="redirectDigi()" class="btn btn_cls">
            Proceed to DigiLocker for KYC
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Upload Pan Manual Invalid Modal -->
<div
  class="modal fade uploadPan"
  id="completePanVerifyError"
  tabindex="-1"
  aria-labelledby="completePanVerifyErrorLabel"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div
        class="modal-header d-block"
        (click)="dismissModal(); removeModal()"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <h2 class="modal-title fs-5 visually-hidden" id="completePanVerifyErrorLabel">PAN verification failed</h2>
        <button
          type="button"
          class="btn-horizontal-line"
          id="failureClose"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="removeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="pan_modal_heading">
          <img src="assets/images/diy/invalid_icon.png" alt="Not Verified" aria-hidden="true" />
          <h5 class="mb-0">Your PAN has not been verified with us</h5>
        </div>
        <p class="">
          As per Income Tax database, your name is verified. Please note as per
          SEBI regulations, your trading account must be opened with name as per
          PAN.
        </p>
        <div class="modal-footer p-0">
          <div class="btn_align">
            <button type="button" (click)="redirectDigi()" class="btn btn_cls">
              Proceed to Digilocker for KYC
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
