<section aria-label="Choose Bank Account" *ngIf="PennyDropFormOne" class="pan_details_form"
  aria-labelledby="penny-drop-form-one">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 m-auto">
        <div class="mobile_css">
          <div role="button" tabindex="0" (keydown.enter)="BackToSix()" (keydown.space)="BackToSix()"
            (click)="BackToSix()" class="back_cls" aria-label="Go back">
            <div>
              <img src="assets/images/diy/ChevronLeft.png" alt="" aria-hidden="true" /> Back
            </div>

            <div class="mobile_header_padding">
              <div class="help_faq_css">
                <div class="d-flex gap-2">
                  <div class="d-flex flex-column gap-2">
                    <h5 id="penny-drop">Choose Bank Account</h5>
                  </div>
                </div>
                <div>
                </div>
              </div>
              <p class="sub_title">
                Make your fund transfer easy by just verifying your Account!
              </p>
            </div>
          </div>
        </div>

        <form method="post" aria-label="Penny Drop Page">
          <div class="">
            <div class="col-lg-12 col-md-12 col-12 desktop_css">
              <div class="mobile_header_padding">
                <div class="help_faq_css">
                  <div class="d-flex gap-2">
                    <button class="back-link-btn" type="button" aria-label="Go back" (click)="BackToSix()" style="background:none;border:none;padding:0;cursor:pointer;">
                      <span aria-hidden="true">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                          <g clip-path="url(#clip0_0_10804)">
                            <path d="M5 12.5H19" stroke="black" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M5 12.5L11 18.5" stroke="black" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M5 12.5L11 6.5" stroke="black" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                          </g>
                          <defs>
                            <clipPath id="clip0_0_10804">
                              <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                    </button>
                    <div class="heading">
                      <h5 id="penny-drop-desk">Choose Bank Account</h5>
                      <p class="sub_title">
                        Make your fund transfer easy by just verifying your
                        Account!
                      </p>
                    </div>
                  </div>
                  <div>
                    <!-- <button (click)="faqHelpBtn('Bankaccount')">
                      Need Help?
                    </button> -->
                  </div>
                </div>
              </div>
            </div>
            <hr class="desktop_css" />
            <div class="search_box">
              <div>
                <label for="searchBank" id="penny-drop-search-bank-name" class="form-label">Search Bank Name</label>
              </div>
              <div class="">
                <input type="text" class="form-control bank_search" aria-label="Search Bank Name" id="searchBank"
                  name="searchBank" placeholder="Enter bank name" [(ngModel)]="searchQuery" (input)="filterBanks()"
                  aria-required="true" />
                <i class="ti-search"></i>
              </div>
            </div>
            <h5 class="my-3" id="penny-drop-popular-banks">Popular Banks</h5>
            <div class="bank_scroll row" *ngIf="filteredBanks.length > 0">
              <div *ngFor="let bankList of filteredBanks.slice(0, 4)" class="col-md-6 col-12">
                <div class="bank_box" [ngClass]="{
                    highlight: bankList.selected,
                    deselected: !bankList.selected
                  }" (click)="redirectToFillDetails(bankList)">
                  <img src="{{ bankList.BankLogo }}" alt="bank-logo" />
                  <p>{{ bankList.BankName }}</p>
                </div>
              </div>
            </div>
            <div *ngIf="filteredBanks.length === 0 && searchQuery != ''" class="bank_box">
              <p>
                Oops! We could not find the entered bank. Please check the bank
                name once again. For more support, please contact us
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section aria-label="Enter Bank Account Details" *ngIf="PennyDropFormTwo" class="pan_details_form"
  aria-labelledby="penny-drop-form-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 m-auto">
        <div class="mobile_css">
          <div class="back_cls">
            <div role="button" tabindex="0" (keydown.enter)="BackToPennyDropOne()"
              (keydown.space)="BackToPennyDropOne()" (click)="BackToPennyDropOne()">
              <img src="assets/images/diy/ChevronLeft.png" alt="" aria-hidden="true" /> Back
            </div>
            <div class="mobile_header_padding">
              <div class="help_faq_css">
                <div class="d-flex gap-2">
                  <div class="d-flex flex-column gap-2">
                    <h5>Enter your Bank Account details</h5>
                  </div>
                </div>
              </div>
              <p class="sub_title">
                We need these details only to verify that this Bank Account
                belongs to you
              </p>
            </div>
          </div>
        </div>

        <form aria-label="Choose Bank Account Form" method="post">
          <div class="div">
            <div class="col-lg-12 col-md-12 col-12 desktop_css">
              <div class="mobile_header_padding">
                <div class="help_faq_css">
                  <div class="d-flex gap-2">
                    <div role="button" tabindex="0" (keydown.enter)="BackToPennyDropOne()"
                      (keydown.space)="BackToPennyDropOne()" (click)="BackToPennyDropOne()">
                      <span>
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_0_10804)">
                            <path d="M5 12.5H19" stroke="black" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M5 12.5L11 18.5" stroke="black" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M5 12.5L11 6.5" stroke="black" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                          </g>
                          <defs>
                            <clipPath id="clip0_0_10804">
                              <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                    </div>
                    <div class="heading">
                      <h5 id="enter-bank-account">Enter your Bank Account details</h5>
                      <p class="sub_title">
                        We need these details only to verify that this Bank
                        Account belongs to you
                      </p>
                    </div>
                  </div>
                  <div>
                    <!-- <button (click)="faqHelpBtn('Bankaccount')">
                      Need Help?
                    </button> -->
                  </div>
                </div>
              </div>
            </div>
            <hr class="desktop_css" />
            <div class="bank_column">
              <div>
                <div *ngIf="selectedBankName && selectedBankLogo" class="col-md-12 col-12">
                  <div class="bank_box highlight">
                    <img [src]="selectedBankLogo" alt="" />
                    <p>{{ selectedBankName }}</p>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <div class="bank_field">
                    <div *ngIf="!isIfsc">
                      <label for="ifsccode" class="form-label">Enter IFSC Code</label>
                    </div>
                    <div *ngIf="!isIfsc">
                      <div class="position-relative">
                        <p-autoComplete class="autocomplete_field" aria-describedby="ifsccodeautofield" id="ifsccode"
                          name="ifsccode" placeholder="Search by IFSC or Locality" onpaste="return false;"
                          [(ngModel)]="enteredIFSCNumber" maxlength="20" [suggestions]="filteredIfsc" (input)="
                            accountIfsc($event);
                            validateAccountForm();
                            searchIfsc($event)
                          " (focusout)="accountIfsc2($event)" [forceSelection]="false" [dropdown]="true"
                          onselectstart="return false;" onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)"
                          p-autocomplete-loader="false" [attr.aria-disabled]="isIfscDisabled"
                          [disabled]="isIfscDisabled">
                        </p-autoComplete>
                      </div>
                      <!-- <span *ngIf="ifscBankValidation" class="red_warning"
                        >Please enter correct IFSC code or contact our customer
                        service team</span
                      > -->
                      <span *ngIf="ifscBankValidation" class="red_warning">The Entered IFSC does not match with the
                        selected Bank Name.</span>
                      <span *ngIf="ifscBankValidationSpecial" class="red_warning">Special characters are not
                        allowed</span>
                      <span *ngIf="ifscBankValidationSpace" class="red_warning">Blank space not allowed</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <div class="position-relative bank_field">
                    <div>
                      <label for="accountNo" class="form-label" aria-hidden="true">Enter your Account no.</label>
                    </div>
                    <div>
                      <div class="eye_field">
                        <input [(ngModel)]="accountNumber" aria-describedby="enterAccountNo"
                          [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="accountNo"
                          aria-label="Account Number" name="accountNo" inputmode="numeric" maxlength="25" placeholder=""
                          autocomplete="false" (input)="
                            accountNumberValidation($event);
                            validateAccountForm();
                            accountNumberReValidation($event)
                          " (focusout)="
                            accountNumberValidation2($event);
                            accountNumberReValidation2($event, 'enter')
                          " onpaste="return false;" onselectstart="return false;"
                          onkeypress="return /[0-9]/i.test(event.key)" />
                        <span class="fa eye_icon" [ngClass]="{
                            'fa-eye-slash': !fieldTextType,
                            'fa-eye': fieldTextType,
                          }" id="togglePassword" aria-label="Toggle account number visibility"
                          (click)="toggleFieldTextType()"></span>
                      </div>

                      <span *ngIf="ACbankValidation" class="red_warning">Please enter a valid Account number consisting
                        of only
                        numeric characters</span>
                      <span *ngIf="ACbankValiSpecial" class="red_warning">Special characters are not allowed</span>
                      <span *ngIf="ACbankValiSpace" class="red_warning">Blank space not allowed</span>
                      <span *ngIf="SBILengthWarning" class="red_warning">Please enter valid 11 digit number of your bank
                        account
                        with State Bank of India
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <div class="bank_field">
                    <div>
                      <label for="renteraccountNo" class="form-label" aria-hidden="true">Re-enter your Account
                        no.</label>
                    </div>
                    <div>
                      <input [(ngModel)]="reenteredAccountNumber" aria-describedby="reenterAccountNo"
                        aria-label="Re-enter Account Number" type="text" class="form-control" id="renteraccountNo"
                        name="renteraccountNo" inputmode="numeric" maxlength="25" placeholder="" (input)="
                          accountNumberReValidation($event);
                          validateAccountForm()
                        " onpaste="return false;" onselectstart="return false;" (focusout)="
                          accountNumberValidation2($event);
                          accountNumberReValidation2($event, 'reenter')
                        " onkeypress="return /[0-9]/i.test(event.key)" aria-required="true" />

                      <span *ngIf="ReenterACBankValidation" class="red_warning">Please enter a valid Account number
                        consisting of only
                        numeric characters</span>
                      <span *ngIf="ReenterBankWarning" class="red_warning">Please check the entered Account number. It
                        should
                        exactly match with the account number entered in the
                        above field</span>
                      <span *ngIf="ReenterACBankValidationSpecial" class="red_warning">Special characters are not
                        allowed</span>
                      <span *ngIf="ReenterACBankValidationSpace" class="red_warning">Blank space not allowed</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sbi_note">
                <p>
                  {{
                  (selectedBankName == null ? " " : selectedBankName + ", ") +
                  IFSCResponse[0].BBM_LOCATION
                  }}
                </p>
              </div>
              <div class="stickybtn_desk desktop_css">
                <span id="verifyBankHintDesk" class="visually-hidden">Enter Account Number, IFSC, and re-enter Account Number to enable Verify.</span>
                <button [attr.aria-disabled]="isBankAccountForm" [disabled]="isBankAccountForm"
                  (click)="verifyBankModal()" class="btn btn_cls" id="verifyDesk" aria-describedby="verifyBankHintDesk">
                  Verify
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="stickybtn mobile_css">
        <span id="verifyBankHintMob" class="visually-hidden">Enter Account Number, IFSC, and re-enter Account Number to enable Verify.</span>
        <button [attr.aria-disabled]="isBankAccountForm" [disabled]="isBankAccountForm" (click)="verifyBankModal()"
          class="btn btn_cls" id="verifyMob" aria-describedby="verifyBankHintMob">
          Verify
        </button>
      </div>
    </div>
  </div>
</section>

<script>
  $("#invalidbankdetails").modal({
    backdrop: "static",
    keyboard: false,
  });
</script>
<!-- Invalid Bank Details -->
<div class="modal fade" id="invalidbankdetails" role="dialog" aria-modal="true" tabindex="-1"
  aria-labelledby="invalidbankdetailsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block" data-bs-dismiss="modal" aria-label="Close" (click)="removeModal()">
        <h1 class="modal-title fs-5 visually-hidden" id="invalidbankdetailsLabel">Invalid bank details</h1>
        <button type="button" class="btn-horizontal-line" data-bs-dismiss="modal" aria-label="Close"
          (click)="removeModal()"></button>
      </div>
      <div *ngIf="this.utm_source != 'PROPRIETOR'" class="modal-body">
        <div class="img_preview text-center">
          <img src="assets/images/diy/invalid-details.png" alt="" role="status" />
        </div>
        <h5 class="text-center my-3">Something went wrong...</h5>
        <div class="text-center my-3">
          <span>We are unable to proceed with the bank details that are
            provided</span>
        </div>
      </div>
      <div *ngIf="this.utm_source == 'PROPRIETOR'" class="modal-footer">
        <button type="button" class="btn btn_cls" data-bs-target="#uploadBankStatement" data-bs-toggle="modal">
          Please upload a certified bank authorisation letter that includes the PAN of the account holder
        </button>
      </div>
      <div *ngIf="this.utm_source != 'PROPRIETOR'" class="modal-footer">
        <button type="button" class="btn btn_cls" data-bs-target="#uploadBankStatement" data-bs-toggle="modal">
          Try Uploading Cheque/Bank Proof
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade uploadPan" id="myModal" role="dialog" aria-modal="true" tabindex="-1"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block" data-bs-dismiss="modal" aria-label="Close" (click)="removeModal()">
        <h1 class="modal-title fs-5 visually-hidden" id="myModalLabel">Bank verification status</h1>
        <button type="button" class="btn-horizontal-line" id="myModalClose" data-bs-dismiss="modal" aria-label="Close"
          (click)="removeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="img_preview text-center">
          <img class="" src="assets/images/diy/invalid-details.png" alt="Invalid-Details" role="status" />
        </div>
        <div class="text-center">
          <span class="textfont_css">Oops!</span><br />

          <span>This bank account seems to belonging to someone else as per bank
            record. Do you still want to continue?</span>
        </div>
      </div>
      <div class="modal-footer flex-nowrap">
        <button type="button" class="btn btn_cls" data-bs-dismiss="modal" (click)="openSameNamePopupDismissModal()">
          No
        </button>
        <button type="button" class="btn btn_cls" data-bs-dismiss="modal" (click)="redirectPlanSelection()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Verification Successful Modal -->
<div class="modal fade uploadPan" id="verifysuccess" role="dialog" aria-modal="true" tabindex="-1"
  aria-labelledby="verifysuccessLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block" aria-label="Close">
        <h1 class="modal-title fs-5 visually-hidden" id="verifysuccessLabel">Bank account verified</h1>
        <button type="button" class="btn-horizontal-line" id="verifySuccessClose" data-bs-dismiss="modal" aria-label="Close"
          (click)="removeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="img_preview text-center">
          <img class="" src="assets/images/diy/successfulverification.png" alt="Bank account verified successfully"
            role="status" />
        </div>
        <div class="text-center">
          <span>Bank account verified successfully!</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn_cls" data-bs-dismiss="modal" (click)="redirectPlanSelection()">
          Proceed
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Bank Statement Modal -->
<div class="modal fade uploadPan" id="uploadBankStatement" tabindex="-1" aria-labelledby="uploadBankStatementLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block" data-bs-dismiss="modal" aria-label="Close" (click)="removeModal()">
        <h1 class="modal-title fs-5 visually-hidden" id="uploadBankStatementLabel">Upload bank statement</h1>
        <button type="button" class="btn-horizontal-line" data-bs-dismiss="modal" aria-label="Close"
          (click)="removeModal()"></button>
      </div>
      <div class="modal-body">
        <h5 *ngIf="this.utm_source != 'PROPRIETOR'" class="text-center my-3" id="uploadBankProofMain">
          Upload Cheque/Bank Proof
        </h5>
        <h5 *ngIf="this.utm_source == 'PROPRIETOR'" class="text-center my-3" id="uploadCertificateMain">
          Please upload a certified bank authorisation letter that includes the PAN of the account holder
        </h5>
        <div class="img_upload">
          <div class="camera_icon" style="position: relative; display: inline-block">
            <img src="assets/images/diy/camera_img.png" alt="Upload Image" style="cursor: pointer" role="img" />
            <input style="
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
              " type="file" capture="environment" accept="image/*" (change)="fileChangeEvent($event)"
              (click)="setCaptureEvent('environment')" data-bs-target="#uploadBankStateUpload"
              (click)="resetExistingImage()" data-bs-toggle="modal" aria-required="true" />
          </div>
          <div style="position: relative; display: inline-block">
            <img src="assets/images/diy/upload_img.png" alt="Upload Image" style="cursor: pointer" role="img" />
            <input style="
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
              " type="file" accept="image/*" (change)="fileChangeEvent($event)" (click)="setCaptureEvent('upload')"
              data-bs-target="#uploadBankStateUpload" (click)="resetExistingImage()" data-bs-toggle="modal"
              aria-required="true" />
          </div>
        </div>
        <div class="file_type_css">
          <span>Files supported: JPG, PNG </span>
          <span>Maximum size less than 4 MB</span>
        </div>
      </div>
      <div class="modal-footer d-none">
        <button type="button" data-bs-target="#uploadBankStateUpload" data-bs-toggle="modal" class="btn btn_cls">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Bank Statement Upload Modal -->
<div class="modal fade uploadPan" id="uploadBankStateUpload" tabindex="-1" aria-labelledby="uploadBankStateUploadLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block" data-bs-dismiss="modal" aria-label="Close" (click)="removeModal()">
        <h1 class="modal-title fs-5 visually-hidden" id="uploadBankStateUploadLabel">Upload bank statement preview</h1>
        <button type="button" class="btn-horizontal-line" data-bs-dismiss="modal" aria-label="Close"
          (click)="removeModal()"></button>
      </div>
      <div class="modal-body">
        <h5 *ngIf="this.utm_source != 'PROPRIETOR'" class="text-center my-3" id="uploadBankProofPreview">
          Upload Cheque/Bank Proof
        </h5>
        <h5 *ngIf="this.utm_source == 'PROPRIETOR'" class="text-center my-3" id="uploadBankCertificate">
          Please upload a certified bank authorisation letter that includes the PAN of the account holder
        </h5>
        <div *ngIf="FFF" class="file_upload_css">
          <div class="pdf-container">
            <pdf-viewer [src]="FFF" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false"
              [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
              [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
              style="width: 100%; height: 250px"></pdf-viewer>
          </div>
        </div>
        <div *ngIf="imageChangedEvent" class="file_upload_css">
          <image-cropper class="image_css" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
            [canvasRotation]="canvasRotation" [(transform)]="transform" [aspectRatio]="4 / 3" format="png"
            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div *ngIf="imageChangedEvent" class="text-center">
          <label class="reupload_css" (click)="rotateRight()">Rotate</label>
        </div>
        <div class="file_type_css my-2">
          <span class="red_warning">{{ errorMsg }}</span>
        </div>
        <div *ngIf="passwordProtectedMsg.length > 0" class="file_type_css my-2">
          <span class="red_warning">{{ passwordProtectedMsg }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn_align">
          <label *ngIf="!imageChangedEvent" class="btn btn_cls_outline p-0" for="uploadImageFile" aria-hidden="true">
            Upload Image
            <input type="file" accept="image/*" (change)="fileChangeEvent($event)" style="display: none"
              id="uploadImageFile" aria-describedby="uploadImageFile" />
          </label>
          <label *ngIf="imageChangedEvent && capture_event !== 'user'" class="btn btn_cls_outline p-0"
            for="captureEvent" aria-hidden="true">
            Re-Upload Image
            <input type="file" accept="image/*" (change)="fileChangeEvent($event)" style="display: none"
              aria-describedby="captureEvent" />
          </label>
          <label *ngIf="imageChangedEvent && capture_event == 'user'" class="btn btn_cls_outline p-0"
            for="ImageChangeEvent" aria-hidden="true">
            Re-Upload Image
            <input type="file" capture="user" accept="image/*" (change)="fileChangeEvent($event)" style="display: none"
              id="ImageChangeEvent" />
          </label>
          <button [attr.aria-disabled]="!imageChangedEvent && !FFF" [disabled]="!imageChangedEvent && !FFF"
            type="button" class="btn btn_cls" data-bs-target="#uploadBankStateBg" data-bs-toggle="modal"
            (click)="openId()">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Upload Bank Statement File Modal -->
<div class="modal fade uploadPan" id="uploadBankStateBg" tabindex="-1" aria-labelledby="uploadBankStateBgLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block" data-bs-dismiss="modal" aria-label="Close" (click)="removeModal()">
        <h1 class="modal-title fs-5 visually-hidden" id="uploadBankStateBgLabel">Confirm bank statement</h1>
        <button type="button" class="btn-horizontal-line" data-bs-dismiss="modal" aria-label="Close"
          (click)="removeModal()"></button>
      </div>
      <div class="modal-body">
        <!-- <h5 class="text-center my-3">Upload Cheque/Bank Proof</h5> -->
        <h5 *ngIf="this.utm_source != 'PROPRIETOR'" class="text-center my-3" id="uploadBankProofConfirm">
          Upload Cheque/Bank Proof
        </h5>
        <h5 *ngIf="this.utm_source == 'PROPRIETOR'" class="text-center my-3" id="uploadCertificateConfirm">
          Please upload a certified bank authorisation letter that includes the PAN of the account holder
        </h5>
        <div *ngIf="FFF" class="file_upload_css">
          <div id="pdfView" class="pdf-container">
            <pdf-viewer [src]="FFF" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false"
              [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
              [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
              style="width: 100%; height: 250px"></pdf-viewer>
          </div>
          <div class="file_type_css">
            <span>Files supported: JPG, PNG </span>
            <span>Maximum size less than 4MB</span>
          </div>
        </div>
        <div *ngIf="croppedImage" class="file_upload_css my-3">
          <img *ngIf="croppedImage" [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'"
            alt="Preview of uploaded bank statement" class="img-fluid" />
          <div class="file_type_css">
            <span>Files supported: JPG, PNG</span>
            <span>Maximum size less than 4MB</span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn_align">
            <button (click)="changeBankSignatureImage()" data-bs-target="#uploadBankStatement" data-bs-toggle="modal"
              class="btn btn_cls_outline p-0" aria-label="Close">
              Change BankProof
            </button>
            <button (click)="uploadStatementImg()" class="btn btn_cls" id="confirmedPan" data-bs-dismiss="modal"
              aria-label="Close">
              Yes, Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>