.pan_details_form {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    width: 100%;
    align-items: center;
    justify-content: center
}

.pan_details_form .desktop_css {
    display: block
}

.pan_details_form .mobile_css {
    display: none
}

.pan_details_form form {
    background: #fff;
    border-radius: 24px;
    height: unset;
    overflow: unset;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.pan_details_form .line_css {
    border-bottom: .5px solid #d9d9d9
}

.pan_details_form .header_padding {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 10px
}

.pan_details_form .mobile_section {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-items: flex-start
}

.pan_details_form .mobile_section .email_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%
}

.pan_details_form .mobile_section .email_screen .google_btn {
    display: flex;
    max-width: 342px;
    width: 100%;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #280071;
    cursor: pointer;
}

.pan_details_form .mobile_section .email_screen .google_txt {
    color: #280071;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px
}

.pan_details_form .mobile_section .email_screen .email_text_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

/* .pan_details_form .mobile_section .email_screen .email_text_section h6 {
    color: #280071;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal
} */

.pan_details_form .mobile_section .email_screen .email_text_section h3 {
    color: #280071;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal
}

.pan_details_form .desktop_align {
    display: flex;
    width: 100%;
    align-items: center
}

.pan_details_form .sub_title {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: normal
}

.pan_details_form .help_faq_css {
    display: flex;
    gap: 8px;
    width: 100%
}

.pan_details_form .help_faq_css h5 {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    line-height: normal
}

.pan_details_form .line_css {
    border-bottom: .5px solid #d9d9d9
}

.pan_details_form .header_padding {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

::ng-deep .ng-otp-input-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

::ng-deep .ng-otp-input-wrapper .otp-input {
    width: 50px !important;
    height: 45px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    text-align: center !important;
    margin: 0 5px !important;
    padding: 5px !important;
    font-size: 18px !important;
}

::ng-deep .is-success .ng-otp-input-wrapper .otp-input {
    border: 2px solid #00b152 !important;
}

::ng-deep .is-error .ng-otp-input-wrapper .otp-input {
    border: 2px solid #ff2e00 !important;
}

@media screen and (max-width:991px) {

    .pan_details_form .back_cls img {
        width: 20px
    }

    .pan_details_form .back_cls {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        gap: 16px;
        padding: 0 16px
    }

    .pan_details_form .back_cls h5 {
        color: #2b2b2b;
        font-size: 16px;
        font-weight: 600;
        line-height: normal
    }

    .pan_details_form .back_cls>div:nth-child(1) {
        font-size: 16px;
        font-weight: 600;
        color: #222;
        display: flex;
        align-items: center;
        gap: 5px
    }

    .pan_details_form .back_cls img {
        width: 15px
    }
}

@media screen and (max-width:767px) {
    .pan_details_form {
        display: block;
        height: auto;
        margin: 20px 0
    }

    .pan_details_form form {
        margin: 20px 0 80px 0;
        height: unset;
        overflow: unset
    }

    .pan_details_form .desktop_css {
        display: none
    }

    .pan_details_form .mobile_css {
        display: block
    }

    .pan_details_form .desktop_align {
        flex-direction: column;
        align-items: flex-start
    }

    .pan_details_form .desktop_align>div:nth-child(1) {
        flex: unset
    }

    .pan_details_form .help_faq_css {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px
    }

    .pan_details_form .sub_title {
        font-size: 12px
    }

    .pan_details_form .header_padding {
        padding: 0
    }

    .pan_details_form .mobile_section .email_screen img {
        object-fit: none
    }
}